body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block {
    width: 150px;
    height: 150px;
    background: rgb(245,3,109);
    background: linear-gradient(to top, rgba(245,3,109,1) 0%, rgba(9,109,227,1) 100%);
    /* background: linear-gradient(,#333 0%, #666 30%, #333 100%); */
    box-shadow: inset 2px 2px 5px 2px #333;
    border-radius:10px;
    
    color:#fff;
}   

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
.vertical{
    width: 75px;
    height: 75px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
}
.vertical input{
    transform: rotate(90deg);
    width:75px;
}
.vertical label{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 75px;
}
.horizontal{
    width: 100px;
    margin: 0 auto;
}
.horizontal input{
    width: 100px;
}
.horizontal label{
    width:100px;
    display: flex;
    justify-content: space-between;
}
.center{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ok-shape{
    margin-top: 10px;
}
.hex-container{
    width: 100px;
    margin: 40px auto 0;
}
#Hex{
    width: 80px;
}
.rgba-container{
    width: 100px;
    margin: 0 auto;
}
.rgba-container input{
    width: 80px;
}
.container{
    margin-top:20px ;
    position: relative;
}
#block {
    width: 150px;
    height: 150px;
   background-color: #f00;
   position: absolute;
   left: 0;
   top: 0;
}